<div class="card border" [ngClass]="isIntake ? 'border-success' : 'border-danger'">
  <div class="card-header d-flex justify-content-between align-items-center"
       [ngClass]="isIntake ? 'text-bg-success' : 'text-bg-danger'">
    <button class="btn btn-sm" type="button" data-bs-toggle="collapse" (click)="toggleIconRotate(this.collapseIcon)"
            [attr.data-bs-target]="'#entrygroup-create-card-collapse_' + isIntake">
      <i #collapseIcon class="bi bi-caret-right-fill svg-unrotate"></i>
    </button>
    {{ isIntake ? 'Einnahmegruppen' : 'Ausgabegruppen' }}
    <app-entrygroup-create-modal [isIntake]="isIntake"></app-entrygroup-create-modal>
  </div>
  <div class="collapse" [id]="'entrygroup-create-card-collapse_' + isIntake">
    <div class="card-body container-fluid">
      <div *ngFor="let group of groups">
        <span>{{ group.name }}</span>
      </div>
    </div>
  </div>
</div>