<button type="button" class="btn btn-black tooltipbox" data-bs-toggle="modal" id="helpButton"
        data-bs-target="#helpModal" aria-expanded="false" aria-controls="addButtonCollapse">
  <span class="badge tooltiptext tooltiptext-bottom">Hilfe</span>
  <i class="bi bi-question-lg"></i>
</button>

<div class="modal fade" id="helpModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true"
     aria-labelledby="helpLabel">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="helpLabel">Getting Started</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-4 row-cols-1">
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="text-bg-black bg-gradient fs-2 mb-2 me-2 p-2" style="border-radius: .75rem">
                <i class="bi bi-collection inModal"></i>
              </div>
              <h3 class="fs-2 text-body-emphasis">Gruppen</h3>
            </div>
            <p>
              In einer Gruppe können Einträge gegliedert und zusammengefasst werden. Beispielsweise kann man eine Gruppe
              "Lebensmittel" erstellen und in dieser Gruppe alle Einkäufe in Lebensmittelgeschäften zusammenfassen.
            </p>
            <p>
              Um eine Gruppe zu erstellen, muss man auf das Gruppen-Icon klicken. Das Icon im grünen Bereich erstellt
              neue Einnahme-Gruppen, das im roten Bereich neue Ausgabe-Gruppen.
            </p>
          </div>
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="text-bg-black bg-gradient fs-2 mb-2 me-2 p-2" style="border-radius: .75rem">
                <i class="bi bi-currency-euro inModal"></i>
              </div>
              <h3 class="fs-2 text-body-emphasis">Einträge</h3>
            </div>
            <p>
              Um Einträge hinzuzufügen, muss zuerst eine Gruppe erstellt werden. Anschließend klickt man auf das
              Eintrag-Icon der entsprechenden Gruppe und gibt einen Namen des Eintrags und den Betrag ein.
            </p>
          </div>
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="text-bg-black bg-gradient fs-2 mb-2 me-2 p-2" style="border-radius: .75rem">
                <i class="bi bi-calendar-plus inModal"></i>
              </div>
              <h3 class="fs-2 text-body-emphasis">Monate</h3>
            </div>
            <p>
              Um einen neuen Monat zur Übersicht hinzuzufügen, muss auf das Monats-Icon unten rechts geklickt werden.
              Anschließend muss der jeweilige Monat ausgewählt werden.
            </p>
            <p>
              Es können nur Monate hinzugefügt werden, für die bereits Einträge existieren.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
