<button type="button" class="btn btn-black tooltipbox" data-bs-toggle="modal" id="helpButton"
        data-bs-target="#helpModal" aria-expanded="false" aria-controls="addButtonCollapse">
  <span class="badge tooltiptext tooltiptext-bottom">Hilfe</span>
  <i class="bi bi-question-lg"></i>
</button>

<div class="modal fade" id="helpModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true"
     aria-labelledby="helpLabel">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="helpLabel">Getting Started</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-4 row-cols-1">
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="text-bg-black bg-gradient fs-2 mb-2 me-2 p-2" style="border-radius: .75rem">
                <i class="bi bi-collection inModal"></i>
              </div>
              <h3 class="fs-2 text-body-emphasis">Gruppen</h3>
            </div>
            <p>Um Gruppen hinzuzufügen, muss zuerst auf das Plus-Icon unten
              rechts und dann auf das
              Gruppen-Icon geklickt werden. Anschließend muss man alle Daten eingeben und über den
              Button
              bestätigen.</p>
            <p>Gruppen dienen dazu, Einnahmen und Ausgaben zu gruppieren.
              Beispielsweise kann man eine Gruppe für variable Ausgaben und für feste Ausgaben
              machen.</p>
          </div>
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="text-bg-black bg-gradient fs-2 mb-2 me-2 p-2" style="border-radius: .75rem">
                <i class="bi bi-tag inModal"></i>
              </div>
              <h3 class="fs-2 text-body-emphasis">Kategorien</h3>
            </div>
            <p>Um Kategorien hinzuzufügen, müssen zuerst Gruppen erstellt
              werden. Anschließend muss zuerst auf das Plus-Icon unten rechts und dann auf das
              Kategorie-Icon geklickt werden. Zuletzt muss man alle Daten eingeben und über den
              Button bestätigen.</p>
            <p>Kategorien dienen dazu, Einnahmen und Ausgaben innerhalb
              Gruppen
              zu gruppieren. Beispielsweise kann man in einer Gruppe für variable Ausgaben die
              Kategorien
              Lebensmittel, Kosmetik und Tanken erstellen. So kann man die Einnahmen und ausgaben pro
              Kategorie besser im Blick behalten</p>
          </div>
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="text-bg-black bg-gradient fs-2 mb-2 me-2 p-2" style="border-radius: .75rem">
                <i class="bi bi-currency-euro inModal"></i>
              </div>
              <h3 class="fs-2 text-body-emphasis">Einträge</h3>
            </div>
            <p>Um Einträge hinzuzufügen, müssen zuerst Gruppen und
              Kategorien
              erstellt werden. Anschließend muss zuerst auf das Plus-Icon unten rechts und dann auf
              das
              Eintrag-Icon geklickt werden. Zuletzt muss man alle Daten eingeben und über den
              Button bestätigen.</p>
            <p>Einträge stellen einzelne Beträge dar. Sie werden einer
              Kategorie
              innerhalb einer Gruppe zugeordnet. In der Gruppe für variable Ausgaben und der Kategorie
              "Lebensmittel" wäre es denkbar für jedes Mal, wenn man Lebensmittel einkauft, einen
              Eintrag mit dem Namen des Lebensmittelgeschäfts zu erstellen.</p>
          </div>
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="text-bg-black bg-gradient fs-2 mb-2 me-2 p-2" style="border-radius: .75rem">
                <i class="bi bi-calendar-plus inModal"></i>
              </div>
              <h3 class="fs-2 text-body-emphasis">Monate</h3>
            </div>
            <p>Um einen neuen Monat zur Übersicht hinzuzufügen, muss auf das
              Plus-Icon und dann auf das Monats-Icon geklickt werden. Anschließend muss der jeweilige
              Monat ausgewählt werden.</p>
            <p>Es können nur Monate hinzugefügt werden, für die bereits
              Einträge
              existieren. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
