<app-month-add-modal></app-month-add-modal>

<div class="container-fluid">
  <div *ngFor="let month of months">

    <span class="badge text-bg-black mb-1 me-1">
      {{ month.month.substring(4, 6) }}. {{ month.month.substring(0, 4) }}
    </span>
    <span *ngIf="month.month !== ''" class="badge mb-1"
          [class]="getDiffBadgeClass(month)">
      {{
            (parseFloat((this.utilService.calcSumOfAllGroups(month.intakeGroups) / 100).toFixed(2)) -
                parseFloat((this.utilService.calcSumOfAllGroups(month.spendingGroups) / 100).toFixed(2))
            ).toFixed(2)
      }}€
    </span>

    <div class="row rounded border-start border-5 border-end border-success mx-0">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="m-0"><span class="badge text-bg-success">Einnahmen</span></h5>
        <app-entrygroup-create-modal [isIntake]="true" [monthstring]="wholeMonthString"></app-entrygroup-create-modal>
      </div>
      <app-entrygroup-card *ngFor="let group of month.intakeGroups" [group]="group"></app-entrygroup-card>
    </div>

    <div class="mb-3"></div>

    <div class="row rounded border-start border-5 border-end border-danger mx-0">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="m-0"><span class="badge text-bg-danger">Ausgaben</span></h5>
        <app-entrygroup-create-modal [isIntake]="false" [monthstring]="wholeMonthString"></app-entrygroup-create-modal>
      </div>
      <div *ngFor="let group of month.spendingGroups" class="mt-2 col-sm-6 col-md-4 col-xl-3">
        <div class="card border border-black">
          <div class="card-header text-bg-black d-flex justify-content-between align-items-center">
            {{ group.name }}
            <app-entry-create-modal [entryGroup]="group"></app-entry-create-modal>
          </div>
          <div class="card-body container-fluid">
            <div *ngFor="let entry of group.entries">
              <div class="d-flex justify-content-between align-items-center">
                <span>{{ entry.name }}</span>
                <span class="badge text-bg-black">{{ (entry.value / 100).toFixed(2) }}€</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-end align-items-center">
              <span class="badge text-bg-black">
                {{ (utilService.calcSumOfGroup(group) / 100).toFixed(2) }}€
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4">

  </div>
</div>
